.listingBox {
       box-shadow: 5px 4px 25px #8080802b;
       margin: 100px 50px 0 50px;
       padding-top: 35px;
}

.searchForm {
       display: flex;
       width: 100%;
       justify-content: center;
}

.searchFilterBox {
       display: flex;
       justify-content: space-between;
       margin-bottom: 20px !important;
       width: 100%;
       margin: auto;

       .searchBox {
              position: relative;
              width: 40%;

              input {
                     width: 100%;
                     box-shadow: 5px 4px 25px rgb(128 128 128 / 17%);
                     padding: 10px 0px 10px 45px;
              }

              img {
                     position: absolute;
                     left: 10px;
                     top: 9px;
                     height: 25px;
              }
       }
}

.checkTypeSearch {
       box-shadow: 5px 4px 25px rgb(128 128 128 / 17%);
       width: 35%;
       margin-left: 25px;
       position: relative;
}



.formBtnsGroup {
       display: flex;
       width: 20%;
       justify-content: space-around;

       >button {
              width: 40%;
       }
}

.goNextOnPage{
       width: 100%;
       height: 70px;
       display: flex;
       justify-content: center;
       align-items: center;
       cursor: pointer;
       transition: all .5s linear;
       &:hover{
              background: #574DFC;
              img{
                     filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(7440%) hue-rotate(159deg) brightness(112%) contrast(115%);
                     position: relative;
                     left: 20px;
              }
       }
       img{
              transition: all .1s ease;
              width: 100%;
              height: 18px;
       }
}
.outcomeStatus{
       display: flex;
       padding: 5px 10px;
       align-items: center;
       border-radius: 3px;
       i{
              display: block;
              height: 13px;
              width: 13px;
              position: relative;
              left: -6px;
              border-radius: 4px;
       }
}
.toolTipShadow{
       box-shadow: 0px 2px 0px 8px #ece7e708;
}



// ==============================================================================

@media screen and (max-width: 1300px){
       .formBtnsGroup {
              >button {
                     width: auto;
              }
       }
}
@media screen and (max-width: 992px){
       .completedHead{
              padding-left: 70px !important;
       }
       .listingBox {
              margin: 100px 5px
       }
}
@media screen and (max-width: 769px){
       .botLine{
              font-size: 17px;
       }
       .searchForm {
              flex-wrap: wrap;
       }
       .searchFilterBox {
              .searchBox {
                  width: 98%;
              }
       }
       .checkTypeSearch {
              width: 58%;
              margin: 10px auto;
       }
       .formBtnsGroup {
              width: 40%;
              align-items: center;
              >button{
                     width: auto;
                     padding: 10px 30px;
              }
       }
}

@media screen and (max-width: 575px){
       .checkTypeSearch {
              width: 98%;
              margin: 10px auto;
       }
       .formBtnsGroup {
              width: 60%;
              align-items: center;
              margin-bottom: 10px;
       }
}
@media screen and (max-width: 480px){
       .botLine{
              font-size: 14px;
       }
       .formBtnsGroup {
              width: 90%;
              >button{
                     width: auto;
                     padding: 8px 30px;
              }
       }
}
// .employeeIdColumnName{
//        padding: 0 265px 0 0px;
//        display: flex;
//        white-space: pre;
//    }
// .employeeId{
//        padding: 0 247px 0 0px;
// }