.img_user{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.resetpwd_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: relative;
    .logoBox{
        img{
            height: 50px;
            display: block;
            margin: 50px auto;
        }
        h4{
            font-size: 25px;
            text-align: center;
            font-weight: 600;
        }
    }
    .userEmail{
        background: #D4EDDA;
        font-size: 13px;
        padding: 18px 18px;
        margin: 20px auto;
        line-height: 0;
        font-weight: 500;
        border-radius: 5px;
    }
    .eyeBox{
        position: relative;
        img{
            position: absolute;
            right: 20px;
            height: 16px;
            top: 12px;
        }
    }
    button{
        border: none;
        background: #574DFC;
        color: white;
        text-transform: capitalize;
        width: 100%;
        padding: 8px 0;
        margin: 30px auto;
        border-radius: 5px;
    }
}

$breakpoint-medium: 992px;
$breakpoint-ex-small: 768px;

@media (max-width: $breakpoint-ex-small){
    .img_user {
        height: auto;
        margin-top: 40px;
    }
    .resetpwd_box{
        height: auto;
        margin-top: 30px;
    }
}

@media (max-width: $breakpoint-medium){
    #hideBox{
        display: none;
    }
    #fullWidthBox{
        max-width: unset !important;
        flex: unset !important;
        width: 95%;
        margin: auto;
    }
}

@media (max-width: 481px){
    .resetpwd_box{
        .logoBox{
            img{
                height: 40px;
                margin: 90px auto;
            }
        }
    }
}